<ul>
  {{#each model as |legislator|}}
  {{log legislator}}
    <li><span class="legislator-name"> {{legislator.first_name}} {{legislator.last_name}} </span><br> Contact: <a href={{legislator.contact_form}}>{{legislator.contact_form}}</a></li>
  {{/each}}
</ul>
